#red{
    color: red;
}
#blue{
    color: blue;
}
#orange{
    color: orange;
}
#yellow{
    color: yellow;
}
#green{
    color: green;
}
h2{ font-weight: normal;
}
img{
    width: 200px;
    height: 200px;
}